header.authorized {
  background: #4a81f6;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  img.logo {
    margin: 5px 10px;
    height: 50px;
    float: left;
  }
  h1 {
    font-size: 33px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    color: white;
    padding-left: 15px;
    display: inline;
  }
  .user-panel {
    position: relative;
    background: #3e77f0;
    float: right;
    width: 300px;
    height: 60px;
    color: white;
    padding: 10px;
    font-weight: 300;
    font-size: 13px;
    line-height: 40px;
    #menu {
      background: #3e77f0;
      z-index: 9999; 
      position: absolute; 
      width: 300px; 
      left: 0px;
      font-weight: bold; 
      border-bottom-left-radius: 10px; 
      list-style: none;
      a {
        font-weight: bold;
        color: white; 
        text-decoration: none;
      }
    }
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .status {
      float: right;
      &.online {
        &:before {
          display: inline-block;
          content: " ";
          background: white;
          width: 13px;
          height: 13px;
          border-radius: 50%;
        }
        &:after {
          padding-left: 5px;
          content: "Online"
        }
      }
      &.away {
        &:before {
          display: inline-block;
          content: " ";
          background: transparent;
          border: 2px solid white;
          width: 13px;
          height: 13px;
          border-radius: 50%;
        }
        &:after {
          padding-left: 5px;
          content: "Away"
        }
      }
      &.offline {
        &:before {
          display: inline-block;
          content: " ";
          background: #FF7081;
          width: 13px;
          height: 13px;
          border-radius: 50%;
        }
        &:after {
          padding-left: 5px;
          content: "Offline"
        }
      }

    }
    li {
      .status {
        float: none;
      }
    }
  }
}