<header class="authorized">
      <img src="/assets/images/book.png" class="logo" /> 
      <h1>SESJA</h1>
      <div class="user-panel"  (click)="toggle()">
            <img src="/assets/images/avatar.gif">
            {{ name }}
            <i class="fa fa-chevron-down"></i>
            <span class="status" [ngClass]="status"></span>
            <ul [hidden]="!show" id="menu">
              <li><a [routerLink]="['/auth/login']">Logout</a></li>
            </ul>
      </div>
</header>