#leftSidebar {
  height: 100%;
  position: relative;
  border-right: 1px solid #dadada;
  margin: 0;
  background: #fff;
  position: fixed;
  top: 60px;
  width:300px;
  .menu {
    .heading {
      color: #3B68F3; 
      border-bottom: 1px solid #dadada; 
      background: #F0F6F9; 
      height: 50px; 
      line-height: 50px; 
      font-size: 14px; 
      font-weight: bold;
      padding: 0 10px;
      margin-bottom: 20px;
      a {
        color: #5387f7;
        i {
          color: #5387f7;
        }
      }
    }
    .links {
      overflow: hidden;
      height: calc(100% - 50px);
      a {
        font-size: 16px; 
        padding: 5px 20px;
        font-weight: bold;
        display: block;
        position: relative;
        &.active {
          &:before {
            top: 6px;
            left: -12px;
            position: absolute;
            content: " ";
            display: block;
            background: #5387f7;
            border-radius: 50%;
            width: 19px;
            height: 19px;
          }
        }
      }
    }    
  }
 
}

