<nav id="leftSidebar">

    <div class="menu">
      <div class="links">
        <div class="heading">
          <a class="pull-right" [routerLink]="['/auth/login']">
          wyloguj <i class="fa fa-sign-out"></i>
          </a>
          Menu
        </div>

        <a [routerLink]="['/dashboards/index']" routerLinkActive="active">Najbliższe zaliczenia</a>  
        <a [routerLink]="['/subjects/index']" routerLinkActive="active">Moje przedmioty</a> 

        <a [routerLink]="['/grades/my']" routerLinkActive="active" *ngIf="role == 'ROLE_STUDENT'">Moje oceny</a> 

      </div>
    </div>

</nav>