@import '../../node_modules/bootstrap/scss/bootstrap';
@import './mixins.scss';

@font-face {
  font-family: Bariol;
  src: url(/assets/fonts/Bariol/Bariol_Bold.otf); 
  font-weight: bold;
}

@font-face {
  font-family: Bariol;
  src: url(/assets/fonts/Bariol/Bariol_Regular.otf); 
}

@font-face {
  font-family: Bariol;
  src: url(/assets/fonts/Bariol/Bariol_Regular_Italic.otf); 
  font-style: italic;
}

@font-face {
  font-family: Bariol;
  src: url(/assets/fonts/Bariol/Bariol_Vold_Italic.otf); 
  font-style: italic;
  font-weight: bold;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #EBF3FF!important; 
  font-family: Bariol;
}

app-root {
  width: 100%;
  height: 100%;
  display: block;
}

.preloader {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: #EBF3FF;
  opacity: 0.6;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  .sk-folding-cube {
    margin: 20px auto;
    top: 50%;
    margin-top: -25px;
    width: 40px;
    height: 40px;
    position: relative;
    transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  
    .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
    
    .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
 
    .sk-cube2 {
      transform: scale(1.1) rotateZ(90deg);
      transform: scale(1.1) rotateZ(90deg);
    }

    .sk-cube3 {
      transform: scale(1.1) rotateZ(180deg);
      transform: scale(1.1) rotateZ(180deg);
    }

    .sk-cube4 {
      transform: scale(1.1) rotateZ(270deg);
      transform: scale(1.1) rotateZ(270deg);
    }
  
    .sk-cube2:before {
      animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  
    .sk-cube3:before {
      animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
  
    .sk-cube4:before {
      animation-delay: 0.9s;
      animation-delay: 0.9s;
    }
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}


// modal fix
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.modal-backdrop.fade {
    opacity: 0.1 !important;
}

a {
  cursor: pointer;
}

.btn-success {
  background-color: #4A81F6;
  border-color: transparent;
  font-weight: bold;
  &:hover {
    background-color: #2A61d6;  
    border-color: transparent;
  }
}