
<div class="page-menu">
	&nbsp;
</div>

<div class="page-content">

  <h2>Moje zaliczenia</h2>

  <div class="alert alert-default" *ngIf="isLoading">
  	Wczytywanie danych...
  </div>

  <table *ngIf="!isLoading">
    <thead>
      <td>Przedmiot</td>
      <td>Forma zaliczenia</td>
      <td>Data</td>
      <td>Sala</td>
      <td *ngIf="role == 'ROLE_TEACHER'">Opcje</td>
    </thead>
    <tbody>
	  <ng-template  ngFor let-element [ngForOf]="exams" >
	      <tr>
	        <td>{{ element.subject.name }}</td>
	        <td>{{ element.class.name }}</td>
	        <td>{{ element.date.toLocaleString() }}</td>
	        <td>{{ element.room }}</td>
	        <td><a  *ngIf="role == 'ROLE_TEACHER'" [routerLink]="['/grades/'+element.id]"><i class="fa fa-graduation-cap"></i> oceny</a></td>
	      </tr>
	      <tr class="spacer"></tr>
      </ng-template>
    </tbody>
  </table>

</div>