<div class="auth-panel">
  <h1>SESJA</h1>
  <h2>Logowanie do systemu SESJA</h2>

  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <alerts></alerts>

    <div class="input-group">
      <label>Login / E-mail</label>
      <input class="form-control" [formControl]="username" [ngClass]="{'has-error': !loginForm.get('username').valid && loginForm.get('username').touched}" type="text" name="_username" placeholder="Podaj login lub adres e-mail">
    </div>
    
    <div class="input-group">
      <label>Hasło</label>
      <input class="form-control" [formControl]="password" [ngClass]="{'has-error': !loginForm.get('password').valid && loginForm.get('password').touched}" type="password" name="_password" placeholder="Podaj hasło">
    </div>

    <div class="buttons">
      <button type="submit" class="btn">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        Zaloguj
      </button>
    </div>

    <div class="checkbox">
      <input type="checkbox" name="_remember_me">
      <label>Zapamiętaj mnie</label>
    </div>

    <span class="clearfix"></span>
  </form>

  <div class="pull-right user-links">
      <a class="forgot-password" [routerLink]="['/auth/restore']">Przypomnij hasło</a>
  </div>
</div>

