
<div class="page-menu">
	&nbsp;
</div>

<div class="page-content">

  <div class="alert alert-default" *ngIf="isLoading">
    Wczytywanie danych...
  </div>

  <div *ngIf="!isLoading">
    <h2>Oceny z {{ exams[0].exam.subject.name }} - {{ exams[0].exam.class.name }} </h2>

    <form id="form" [formGroup]="gradeForm" (ngSubmit)="onSubmit($event)">
      <table>
        <thead>
          <td>Student</td>
          <td>Ocena</td>
        </thead>
        <tbody>
    	  <ng-template  ngFor let-element [ngForOf]="exams" >
    	      <tr>
    	        <td>{{ element.student.fullname }} (L: {{ element.student.username }})</td>
              <td><input type="text" [formControl]="grades" name="{{ element.id }}" value="{{ element.grade }}"></td>
    	      </tr>
    	      <tr class="spacer"></tr>
          </ng-template>
        </tbody>
      </table>
     <button type="submit" class="pull-right btn btn-success">Zapisz</button>
    </form>
  </div>

</div>