footer {
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #E7E7E7;
  font-size: 13px;
  color: #343F3C;
  padding: 7px 30px;
  position: fixed;
  bottom: 0;
  a {
    margin-right: 30px;
    color: #343F3C;
    font-size: 13px;
  }
  img {
    padding-right: 10px;
    height: 22px;
  }
}