header.auth {
  background: url(/assets/images/signin-top.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 150px;
  padding-top: 30px;
  margin-bottom: 50px;
  img {
    margin: 20px auto;
    display: block;
    width: auto;
    height: 100px;
    margin: auto;   
  }

}