h2 {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

table {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  thead {
    td {
      color: #0275d8;
      padding: 7px 10px;
    }
  }
  tbody {
    tr {
      &.spacer {
        height: 10px;
        background: transparent;

      }
      td {
        color: #333;
        padding: 7px 10px;
        background: white;
  
        &:first-child { border-top-left-radius: 10px; }
        &:last-child { border-top-right-radius: 10px; }
        &:first-child { border-bottom-left-radius: 10px; }
        &:last-child { border-bottom-right-radius: 10px; }
      }
    }
  }
}

.pagination {
  li.page-item {
    font-size: 12px;
    a {
      color: #333;
    }
  }
}

.page-menu {
  width: 200px;
  float:left;
}

.page-content {
  width: calc(100% - 200px);
  float:left;
  padding-right: 20px;
}
