
<div class="page-menu">
	&nbsp;
</div>

<div class="page-content">

  <div class="alert alert-default" *ngIf="isLoading">
    Wczytywanie danych...
  </div>

  <div *ngIf="!isLoading">
    <h2 class="pull-right label labelsuccess">Średnia: {{ avg }}</h2>
    <h2>Oceny</h2>

      <table>
        <thead>
          <td>Zaliczenie</td>
          <td>Ocena</td>
        </thead>
        <tbody>
    	  <ng-template  ngFor let-element [ngForOf]="grades" >
    	      <tr>
    	        <td>{{ element.exam.subject.name }}</td>
              <td> {{ element.grade }} </td>
    	      </tr>
    	      <tr class="spacer"></tr>
          </ng-template>
        </tbody>
      </table>


  </div>

</div>