
<div class="page-menu">
	&nbsp;
</div>

<div class="page-content">

  <h2>Moje przedmioty</h2>

  <div class="alert alert-default" *ngIf="isLoading">
  	Wczytywanie danych...
  </div>

  <table *ngIf="!isLoading">
    <thead>
      <td>Przedmiot</td>
      <td>Forma zaliczenia</td>
<!--       <td>Akcje</td> -->
    </thead>
    <tbody>
	  <ng-template  ngFor let-element [ngForOf]="exams" >
	      <tr>
	        <td>{{ element.subject.name }}</td>
	        <td>{{ element.class.name }}</td>
<!-- 	        <td><a href=""><i class="fa fa-user"></i> lista studentów</a></td> -->
	      </tr>
	      <tr class="spacer"></tr>
      </ng-template>
    </tbody>
  </table>

</div>