.auth-panel {
  left: 35.5%;
  width: 29%;
  position: relative;
  background: transparent;
  border: 0;
  h1 {
    text-align: center;
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 0;
    font-family: Bariol;
    font-weight: bold;
  }
  h2 {
    text-align: center;
    font-size: 28px;
    font-family: Bariol;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 0;
  }
  form.auth-form {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px 20px;
    .input-group {
      width: 100%;
      display: block;
    }
    input {
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(215,215,215,0.50);
      border-radius: 5px; 
      margin-bottom: 10px;
      width: 100%;
      border-color: transparent;
      &.has-error {
        border-color: red;
      }
    }
    label {
      font-family: Bariol;
      font-weight: 100;
      font-size: 16px;
      color: #4A81F6;
      line-height: 40px;
      margin-bottom: 0;
    }
    .buttons { 
      margin-top: 30px;
      button {
        background: #4A81F6;
        box-shadow: 0 2px 4px 0 rgba(215,215,215,0.50);
        border-radius: 5px; 
        color: #FFFFFF;
        padding: 10px 0;
        text-align: center;
        width: 120px;
        font-size: 15px;
        i {
          float: right;
          padding-right: 10px;
          line-height: 20px;
        }
      }
      .social {
        float: right;
        .btn {
          padding: 10px 20px;
          margin-left: 8px;
          color: white;
          border-radius: 5px;
        }
        span {
          padding-right: 15px;
          font-family: Bariol;
          font-weight: bold;
          font-size: 12px;
        }
        .facebook {
          background: #3B5998;
        }
        .google {
          background: #DA4B28;
        }
        .twitter {
          background: #1DA1F2;
        }
      }
    }
    .checkbox {
      margin-top: 20px;
      input[type="checkbox"] { 
        margin-left: 0;
        width: 15px;
      }
      label {
        line-height: 20px;
        color: #343F3C;
        font-size: 12px;
      }
    }
  }
  .user-links {
    padding: 8px 3px;
    a {
      color: #343F3C;
      text-decoration: underline;
      opacity: 0.8;
      font-size: 15px;
    }
    a.register {
      font-family: Bariol;
      font-weight: bold;
      opacity: 1;
    }
    span {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1199px) { 
  .auth-panel {
    left: 33.3333%;
  }
}

@media (max-width: 991px) { 
  .auth-panel {
    left: 25%;
  }
}