.content { 
  padding: 0;
  padding-top: 60px;
  margin: 0; 
  float: left;
  width: calc(100% - 300px);
  height: calc(100% - 60px);
}

.sidebar { 
  padding: 0;
  margin: 0;
  height: calc(100% - 60px);
  &.left {
    float: left;
    width: 300px;
  }
  &.right {
    float: right;
    width: 300px;
  }
}

