<router-outlet name="header"></router-outlet>

<!-- LEFT SIDEBAR -->
<div class="sidebar left">
    <router-outlet name="navbar"></router-outlet>
</div>

<!-- CONTENT -->
<div class="content">
    <router-outlet></router-outlet>
</div>

<!-- FOOTER -->
<router-outlet name="footer"></router-outlet>
