<loader></loader>

<router-outlet name="header"></router-outlet>

<router-outlet></router-outlet>

<div style="clear: both; height: 60px; width: 40px"></div>

<router-outlet name="footer"></router-outlet>
